---
import Layout from '../layouts/Layout.astro';

import StepByStep from '../components/StepByStep.astro';
import ContactBox from '../components/ContactBox.astro';
import HeroSection from '../components/HeroSection.astro';
import KeyPoints from '../components/KeyPoints.astro';

import Violations from "../assets/images/WPS-Code_violations.png";
import Dock from "../assets/images/pier.png";
import Kitchen from "../assets/images/kitchen.png";
import Bathroom from "../assets/images/bathroom-cabinet.png";
import Cabinet from "../assets/images/kitchen-cabinet.png";
import Window from "../assets/images/windows.png";
import Wall from "../assets/images/brick-wall.png";
import Door from "../assets/images/door.png";
import Permit from "../assets/images/approved.png";
import Wire from "../assets/images/broken-wire.png";
import Fence from "../assets/images/fence.png";
---

<Layout title="WPS - Code Violations">
	<HeroSection
		imagePath={Violations}
		title="Code Violations"
		body="Swift and stress-free resolution of code violations, ensuring compliance and peace of mind for property owners in Broward County."
	/>

	<section class="text_content_background">
		<div class="container py-3">
			<h4 class="baskervville-regular text-center">How It Works</h4>

			<p class="text-center py-3">Whiddon Property Solutions helps resolve code violations in Broward, Miami-Dade and Palm Beach Counties. We collaborate closely with our clients to address and resolve all property-related code violations. It's crucial for property owners to correct these issues to avoid potential fines. Our priority is ensuring that our clients' properties remain free of unresolved violations that could lead to legal or financial consequences with local authorities.</p>

            <p class="text-center py-3">Our team assists the client in promptly addressing various code violations, while understanding that maintaining compliance is key to avoiding any penalties or complications.</p>

			<h4 class="baskervville-regular text-center">Common Code Violations</h4>

			<div class="row gap-2 justify-content-center">
				<KeyPoints
					imagePath={Permit}
					text="Improper permitting"
				/>

				<KeyPoints
					imagePath={Wire}
					text="Electrical issues or installation errors"
				/>

				<KeyPoints
					imagePath={Bathroom}
					text="Plumbing deficiencies or installation errors"
				/>

				<KeyPoints
					imagePath={Fence}
					text="Fence height/general fence installation errors"
				/>

				<KeyPoints
					imagePath={Window}
					text="Windows"
				/>

				<KeyPoints
					imagePath={Wall}
					text="Structural problems"
				/>

				<KeyPoints
					imagePath={Door}
					text="Doors"
				/>
			</div>

			<p class="text-center py-3">We proudly serve Broward, Miami-Dade and Palm Beach Counties.</p>

			<p class="text-center py-3">Our diverse client base includes homeowners, multi-family property investors, commercial property owners of all types, real estate agents, and title companies. Our team’s combined experience in Florida’s permit and code violation processes offers invaluable expertise in the real estate and construction sectors.</p>

			<ContactBox
				text="For a free consultation, contact us at (954) 649-7315 or (954) 649-7444."
			/>

		</div>
	</section>
</Layout>

<style>
	.home_content {
		background-size: cover;
	}
	.image_box img{
		width: 100%;
		height: 100%;
	}
</style>
